@inject Homework.Auth.CurrentUserManager _userManager

@model Homework.Users.Dto.UserViewModel

@{ var isMyPage = _userManager.CurrentUserId == Model.Id; }

<h2>@(isMyPage ? "Моя страница" : $"Страница пользователя {Model.Login}")</h2>
@if (isMyPage)
{
    <a href="edit">Редактировать</a>
}

<div class="container">
    <div class="row">
        <div class="col-sm">
            Имя
        </div>
        <div class="col-sm">
            @Model.Name
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            Фамилия
        </div>
        <div class="col-sm">
            @Model.Surname
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            Пол
        </div>
        <div class="col-sm">
            @Model.GenderString
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            Дата рождения
        </div>
        <div class="col-sm">
            @Model.BirthDateString
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            Город
        </div>
        <div class="col-sm">
            @Model.City
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            Интересы
        </div>
        <div class="col-sm">
            @Model.Interest
        </div>
    </div>
    @if (!isMyPage)
    {
        <div class="row">
            <div class="col-sm">
                <button id="send-offer" class="btn btn-outline-success" data-user-id="@Model.Id">Предложить дружбу</button>
            </div>
        </div>

        <div class="toast" role="alert" aria-live="polite" aria-atomic="true" data-delay="3000">
            <div role="alert" aria-live="assertive" aria-atomic="true">...</div>
        </div>
    }
</div>