@model IEnumerable<Homework.Users.Dto.UserShortDto>

<div class="chat_container">
    <div class="contact_list">
        @foreach (var friend in Model)
        {
            <div class="contact_item list-group-item list-group-item-action" data-user-id="@friend.Id" data-contact-name="@friend.Login">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">@friend.Login</h5>
                </div>
                <p class="mb-1">@friend.Name @friend.Surname</p>
            </div>
        }
    </div>
    <div class="current_contact card-header">
        <span id="contact_name">Выберите контакт</span>
    </div>
    <div class="message_container">
    </div>
    <div class="input-group input_container">
        <input type="text" id="send_text" placeholder="Введите сообщение" disabled>
        <div class="input-group-append">
            <input id="send_button" type="button" value="Отправить" class="btn btn-outline-primary" disabled />
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/dialogs/dialogs.js" type="text/javascript"></script>
}

@section Styles {
    <link href="~/dialogs/dialogs.css" rel="stylesheet" type="text/css" />
}
